<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
<h1>Crisis: {{crisis.name}}</h1>

<h2>History:</h2>
<p>
{{crisisInfo.history}}
</p>

<h2>Help:</h2>
<p>
{{crisisInfo.help}}
</p>


<h2>Resources:</h2>
<p>
{{crisisInfo.resources}}
</p>

<h2>Type:</h2>
<p>
{{crisisInfo.type}}
</p>

<h2>Time</h2>
<p>
    <ul>
        <li>Time: {{time.time}} </li>
        <li>Day: {{time.day}} </li>
        <li>Month: {{time.month}} </li>
        <li>Year: {{time.year}} </li>
        <li>Misc: {{time.misc}} </li>
    </ul>
</p>

<h2>Location</h2>
<p>
    <ul>
        <li>City: {{loc.city}} </li>
        <li>Region: {{loc.region}} </li>
        <li>Country: {{loc.country}} </li>
    </ul>
</p>

<h2>Human Impact</h2>
<p>
    <ul>
        <li>Deaths: {{humanImpact.deaths}} </li>
        <li>Displaced: {{humanImpact.displaced}} </li>
        <li>Injured: {{humanImpact.injured}} </li>
        <li>Missing: {{humanImpact.missing}} </li>
        <li>Misc: {{humanImpact.misc}} </li>
    </ul>
</p>

<h2>Economic Impact</h2>
<p>
    <ul>
        <li>Amount: {{economicImpact.deaths}} </li>
        <li>Currency: {{economicImpact.displaced}} </li>
        <li>Misc: {{economicImpact.misc}} </li>
    </ul>
</p>

<h2>Primary Image</h2>
<p>
    {% for i in primaryImage %}
    <img src = {{i.url}}>
    {% endfor %}
</p>

<h2>Images</h2>
<p>
    {% for i in image %}
    <img src = {{i.url}}><br>
    {% endfor %}
</p>

<h2>Vidos</h2>
<p>
    {% for i in video %}
    <iframe width="420" height="315" src={{i.url}} frameborder="0" allowfullscreen></iframe><br>
    {% endfor %}
</p>

<h2>Social</h2>
<p>
    {% for i in social %}
    <a href={{i.url}}> {{i.title}} </a><br>
    {% endfor %}
</p>

<h2>External Links</h2>
<p>
    {% for i in ext %}
    <a href={{i.url}}> {{i.title}} </a><br>
    {% endfor %}
</p>

<h2>Internal Links</h2>
<p>
    <h3>Related Organizations</h3>
    <p>
    {% for o in orgRefs %}
    <a href="/org/{{o.id}}"> {{o.name}} </a><br>
    {% endfor %}
    </p>
    <h3>Related People</h3>
    <p>
    {% for p in personRefs %}
        <a href='/person/{{p.id}}'> {{p.name}} </a><br>    
    {% endfor %}
    </p>
</p>
</body>
</html>