<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Organization: {{organization.name}}</h1>

<h2>Type</h2>
<p>
{{orgInfo.type}}
</p>

<h2>Contact</h2>
<p>
    <ul>
        <li>Phone:{{contact.phone}}</li>
        <li>Email:{{contact.email}}</li>
        <li>Address:{{address.address}}</li> 
        <li>        {{address.city}}, {{address.state}}</li>
        <li>        {{address.country}} {{address.zip}}</li>
    </ul>
</p>

<h2>Location</h2>
<p>
    <ul>
        <li>City:{{loc.city}}</li>
        <li>Region:{{loc.region}}</li>
        <li>Country:{{loc.country}}</li>
    </ul>
</p>

<h2>History</h2>
<p>
{{orgInfo.history}}
</p>

<h2>Location</h2>
<p>
    <ul>
        <li>City: {{loc.city}} </li>
        <li>Region: {{loc.region}} </li>
        <li>Country: {{loc.country}} </li>
    </ul>
</p>

<h2>Misc</h2>
<p>
{{organization.misc}}
</p>


<h2>Primary Image</h2>
<p>
    {% for i in primaryImage %}
    <img src = {{i.url}}>
    {% endfor %}
</p>

<h2>Images</h2>
<p>
    {% for i in image %}
    <img src = {{i.url}}><br>
    {% endfor %}
</p>

<h2>Vidos</h2>
<p>
    {% for i in video %}
    <iframe width="420" height="315" src={{i.url}} frameborder="0" allowfullscreen></iframe><br>
    {% endfor %}
</p>

<h2>Social</h2>
<p>
    {% for i in social %}
    <a href={{i.url}}> {{i.title}} </a><br>
    {% endfor %}
</p>

<h2>External Links</h2>
<p>
    {% for i in ext %}
    <a href={{i.url}}> {{i.title}} </a><br>
    {% endfor %}
</p>

<h2>Internal Links</h2>
<p>
    <h3>Related Organizations</h3>
    <p>
    {% for c in crisisRefs %}
    <a href="/crisis/{{c.id}}"> {{c.name}} </a><br>
    {% endfor %}
    </p>
    <h3>Related People</h3>
    <p>
    {% for p in personRefs %}
        <a href='/person/{{p.id}}'> {{p.name}} </a><br>    
    {% endfor %}
    </p>
</p>
</body>
</html>
