
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
        background-image: url(http://subtlepatterns.com/patterns/whitey.png);

      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" >
                    <img src="http://i.imgur.com/uhFj0.png" width="35px" height="35px"></img>
                        World Crises Database
                    </a>
                    <ul class="nav">
                        
                        <li><a href="/">Home</a></li>
                        <li><a href="crisis">Crises</a></li>
                        <li><a href="org">Organizations</a></li>
                        <li class="active"><a href="person">People</a></li>
                        <li class="dropdown">  
                            <a href="#"  
                                class="dropdown-toggle"  
                                data-toggle="dropdown">  
                                Utilities  
                                <b class="caret"></b>  
                            </a>  
                            <ul class="dropdown-menu">  
                                <li><a href="import">Import</a></li>  
                                <li><a href="export">Export</a></li>  
                                <li><a href="test">Test</a></li>  
                            </ul>  
                        </li>  
                    </ul>
                    <form class="navbar-search pull-right" action="/search_result">
           			 	<input type="text" class="search-query span2" placeholder="Search" name="keyword">
           			 	<input type="submit" value="Submit"/>
          			</form>
                </div>
            </div>
        </div>    
  </head>

  <body style = "padding:40px; margin-top:40px">


          
    <div class="container">     
	<div class="span12">
      <h2>Explore the people involved in the crises.</h2>
      <p>Click to view.</p>
      <ul class="thumbnails">
      {% for p in persons %}
      	{% for url in images %}
      		{% if forloop.counter0 == forloop.parentloop.counter0 %}
      		
        	<li class="span3">
          	<a href="/person/{{p.id}}" class="thumbnail">
            	<img src={{url}} alt="">
          	</a>
          	<h5>{{p.name}}</h5>
          	</li>
          	{% endif %}
          {% endfor %}
		{% endfor %}
      </ul>
    </div>
    </div>
	<br>       
         
</body>    
        
              
<footer>
<hr>
        <center>
            <p>&copy; Super Seniors : Rohan Shah | Benjamin David Harris | Victor Pang | Ting-Yi Chen | Matt Granado | Elizabeth Hayden</p>
        </center>
</footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="stylesheets/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="stylesheets/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
