<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    </head>
	<h1>Splash Page</h1>
		<h2>Group Name</h2>
			<p>Super Seniors</p>
		<h2>Group Members</h2>
			<p> <ul>
			<li> Rohan Shah</li>
			<li> Benjamin David Harris</li>
			<li> Victor Pang</li>
			<li> Ting-Yi Chen</li>
			<li> Matt Granado</li>
			<li> Elizabeth Hayden</li>
			</ul></p>  
        <h2>Crises</h2>
            <p> <ul>
			{% for crisis in crises %}
			    <li><a href="http://www.jontitan-cs373-wc.appspot.com/crisis/{{crisis.id}}" >{{ crisis.name }}</a> </li></li>
			{% endfor %}
            </ul></p>

		<h2>Organizations</h2>
			<p> <ul>
			{% for org in orgs %}
			    <li><a href="http://www.jontitan-cs373-wc.appspot.com/org/{{org.id}}" >{{ org.name }}</a> </li></li>
			{% endfor %}
            </ul></p>

		<h2>People</h2>
			<p> <ul>
			{% for person in persons %}
			    <li><a href="http://www.jontitan-cs373-wc.appspot.com/person/{{person.id}}" >{{ person.name }}</a> </li></li>
			{% endfor %}
            </ul></p>

		<h2>link to import/export</h2>
		    <p> <ul>
		    <li> <a href="http://www.jontitan-cs373-wc.appspot.com/import">Import</a> </li>
		    <li> <a href="http://www.jontitan-cs373-wc.appspot.com/export">Export</a></li>
		    </ul></p>
		<h2>link to gaeunit</h2>
		    <p> <ul>
		    <li> <a href="http://www.jontitan-cs373-wc.appspot.com/test">Test</a></li>
		    </ul></p>
</html>
