
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{organization.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/lightbox.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
        html { height: 100% }
        #map_canvas { height: 100%;
            width:100%;}
               .outerLink 
        }
    </style>

    <link href="../stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
           <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">
                    <img src="http://i.imgur.com/uhFj0.png" width="35px" height="35px"></img>
                        World Crises Database
                    </a>
                    
                    <ul class="nav">
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li><a href="../crisis">Crises</a></li>
                        <li class="active"><a href="../org">Organizations</a></li>
                        <li><a href="../person">People</a></li>
                        <li class="dropdown">  
                            <a href="#"  
                                class="dropdown-toggle"  
                                data-toggle="dropdown">  
                                Utilities  
                                <b class="caret"></b>  
                            </a>  
                            <ul class="dropdown-menu">  
                                <li><a href="../import">Import</a></li>  
                                <li><a href="../export">Export</a></li>  
                                <li><a href="../test">Test</a></li>  
                            </ul>  
                        </li>  
                    </ul>
                    <form class="navbar-search pull-right" action="/search_result">
           			 	<input type="text" class="search-query span2" placeholder="Search" name="keyword">
           			 	<input type="submit" value="Submit"/>
          			</form>
                </div>
            </div>
        </div>	
  </head>

  <body style = "padding:40px;margin-top:40px">

    <div class = "container">
    <div class="row">
    	<div class="span3">
    		<p>
			{% for i in primaryImage %}
			<img src={{i.url}}>
			{% endfor %}
			</p>
			<div class="well">
				<h3>Organization</h3><br>
				<p>
				{{organization.name}}
				</p>
				
				<h3>
				Related Crises:</h3><br>
				<p>
				{% for c in crisisRefs %}
                        	<a href="/crisis/{{c.id}}"> {{c.name}} </a><br>
                        	{% endfor %}
				</p>
				<h3>Related People:</h3><br><p>
				{% for p in personRefs %}
					<a href='/person/{{p.id}}'> {{p.name}} </a><br> 
				{% endfor %}
				</p>
				<h3>Social Networks</h3>
				<p>
				{% for i in social %}
                        	<a href={{i.url}}> {{i.title}} </a><br>
                        	{% endfor %}
				</p>
				<h3>External Links</h3>
				<p>
				 {% for i in ext %}
                        	<a href={{i.url}}> {{i.title}} </a><br>
                        	{% endfor %}
               			 </p>
			</div><!--well-->
		</div><!--Span3-->
		<div class="span9">
			
				
					<ul class="thumbnails">
					  {% for i in image %}
							<li class="span2">
								<a href={{i.url}} rel="lightbox"><img src={{i.url}} alt=""></a>
							</li>
					  {% endfor %}

					
					</ul>
			<table class="table table-bordered table-striped">
							<tbody>
							  <tr>
								<th>Organization</th>
								<td>{{organization.name}}</td>
								</tr>
								<tr>
								<th>Type</th>
								<td>{{orgInfo.type}}</td>	
								</tr>
								<tr>
								<th>History</th>
								<td>{{orgInfo.history}}</td>
								</tr>
								<tr>
								<th>Misc</th>
								<td>{{organization.misc}}</td>
								</tr>
								<tr>
								<th>Contact</th>
								<td><ul>
                            <li>Phone:{{contact.phone}}</li>
                            <li>Email:{{contact.email}}</li>
                            <li>Address:{{address.address}}</li>
                            <li>	{{address.city}}, {{address.state}} </li>
                            <li>	{{address.country}} {{address.zip}}</li>
                        </ul></td>
								</tr>
								<tr>
								<th>Location</th>
								
								<td>
								<ul>
                            	<li>City: {{loc.city}} </li>
                            	<li>Region: {{loc.region}} </li>
                            	<li>Country: {{loc.country}} </li>
                       			 </ul>
                       			 </td>
                       			 </tr>
							  
							</thead>

							</tbody>
						 
			</table>
            
                    {% for i in video %}
					  	{% if video.count > 1 %}
                            <iframe width="100%" height="60%" src={{i.url}} frameborder="0" allowfullscreen></iframe><br>
                        {% else %}
                        {% endif %}
                     {% endfor %}

		</div><!--span-->
	</div><!--Row-->
    </div>
</body>       
          <footer>
<hr>
        <center>
            <p>&copy; Super Seniors : Rohan Shah | Benjamin David Harris | Victor Pang | Ting-Yi Chen | Matt Granado | Elizabeth Hayden</p>
        </center>
          </footer>



    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/stylesheets/jquery.js"></script>
    <script src="stylesheets/bootstrap-transition.js"></script>
    <script src="stylesheets/bootstrap-alert.js"></script>
    <script src="stylesheets/bootstrap-modal.js"></script>
    <script src="/stylesheets/bootstrap-dropdown.js"></script>
    <script src="stylesheets/bootstrap-scrollspy.js"></script>
    <script src="stylesheets/bootstrap-tab.js"></script>
    <script src="stylesheets/bootstrap-tooltip.js"></script>
    <script src="stylesheets/bootstrap-popover.js"></script>
    <script src="stylesheets/bootstrap-button.js"></script>
    <script src="stylesheets/bootstrap-collapse.js"></script>
    <script src="stylesheets/bootstrap-carousel.js"></script>
    <script src="stylesheets/bootstrap-typeahead.js"></script>
	<script src="/stylesheets/lightbox.js"></script>
	<script src="/stylesheets/jquery-1.7.2.min.js"></script>
</html>
