
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{crisis.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/lightbox.css" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
        html { height: 100% }
        #map_canvas { height: 100%;
            width:100%;}
               .outerLink 
        }
    </style>

    <link href="../stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
           <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">
                    <img src="http://i.imgur.com/uhFj0.png" width="35px" height="35px"></img>
                        World Crises Database
                    </a>
                    
                    <ul class="nav">
                        <li>
                            <a href="../">Home</a>
                        </li>
                        <li class="active"><a href="../crisis">Crises</a></li>
                        <li><a href="../org">Organizations</a></li>
                        <li><a href="../person">People</a></li>
                        <li class="dropdown">  
                            <a href="#"  
                                class="dropdown-toggle"  
                                data-toggle="dropdown">  
                                Utilities  
                                <b class="caret"></b>  
                            </a>  
                            <ul class="dropdown-menu">  
                                <li><a href="../import">Import</a></li>  
                                <li><a href="../export">Export</a></li>  
                                <li><a href="../test">Test</a></li>  
                            </ul>  
                        </li>  
                    </ul>
                    
                </div>
            </div>
        </div>	
  </head>

  <body style = "padding:40px;margin-top:40px">

    <div class="row">
    	<div class="span3">
    		<p>
			{% for i in primaryImage %}
			<img src={{i.url}}>
			{% endfor %}
			</p>
			<div class="well">
				<h3>Crisis</h3><br>
				<p>
				{{crisis.name}}
				</p>
				
				<h3>
				Related Organizations:</h3><br>
				<p>
				{% for o in orgRefs %}
				<a href="/org/{{o.id}}"> {{o.name}} </a><br>
				{% endfor %}
				</p>
				<h3>Related People:</h3><br><p>
				{% for p in personRefs %}
					<a href='/person/{{p.id}}'> {{p.name}} </a><br> 
				{% endfor %}
				</p>
				<h3>Social Networks</h3>
				<p>
				{% for i in social %}
                            <a href={{i.url}}> {{i.title}} </a><br>
				{% endfor %}
				</p>
				<h3>External Links</h3>
				<p>
				 {% for i in ext %}
                            <a href={{i.url}}> {{i.title}} </a><br>
                            {% endfor %}
                </p>
			</div><!--well-->
					{% for i in video %}
					  	{% if video.count > 1 %}
					  		<li>
                            <iframe width="100%" height="30%" src={{i.url}} frameborder="0" allowfullscreen></iframe><br>
                            </li>
                        {% else %}
                        {% endif %}
                     {% endfor %}
		</div><!--Span3-->
		<div class="span8">
			<div class="container">
	
				
					<ul class="thumbnails">
					  {% for i in image %}
							<li class="span2">
								<a href={{i.url}} rel="lightbox"><img src={{i.url}} alt=""></a>
							</li>
					  {% endfor %}

					
					</ul>
			</div>
			<table class="table table-bordered table-striped">
							<tbody>
							  <tr>
								<th>Crisis:</th>
								<td>{{crisis.name}}</td>
								</tr>
								<tr>
								<th>History</th>
								<td>{{crisisInfo.history}}</td>	
								</tr>
								<tr>
								<th>Help</th>
								<td> {{crisisInfo.help}}</td>
								</tr>
								<tr>
								<th>Resources</th>
								<td>{{crisisInfo.resources}}</td>
								</tr>
								<tr>
								<th>Type</th>
								<td>{{crisisInfo.type}}</td>
								</tr>
								<tr>
								<th>Time</th>
								<td><ul>
                            <li>Time: {{time.time}} </li>
                            <li>Day: {{time.day}} </li>
                            <li>Month: {{time.month}} </li>
                            <li>Year: {{time.year}} </li>
                            <li>Misc: {{time.misc}} </li>
                        </ul></td>
								</tr>
								<tr>
								<th>Location</th>
								
								<td>
								<ul>
                            	<li>City: {{loc.city}} </li>
                            	<li>Region: {{loc.region}} </li>
                            	<li>Country: {{loc.country}} </li>
                       			 </ul>
                       			 </td>
                       			 </tr>
								<tr>
								<th>Human Impact</th>
								<td>
								 <ul>
										<li>Deaths: {{humanImpact.deaths}} </li>
										<li>Displaced: {{humanImpact.displaced}} </li>
										<li>Injured: {{humanImpact.injured}} </li>
										<li>Missing: {{humanImpact.missing}} </li>
										<li>Misc: {{humanImpact.misc}} </li>
									</ul>
                        		</td>
								</tr>
								<tr>
								<th>Economic Impact</th>
								<td>
								<ul>
									<li>Amount: {{economicImpact.deaths}} </li>
									<li>Currency: {{economicImpact.displaced}} </li>
									<li>Misc: {{economicImpact.misc}} </li>
								</ul>
								</td>
								</tr>
								<th></th>
							  </tr>
							  
							</thead>

							</tbody>
						 
			</table>

		</div><!--span-->
	</div><!--Row-->
</body>       
          <footer>
          <hr>
            <p>&copy; Super Seniors</p>
            <p> Rohan Shah | Benjamin David Harris | Victor Pang | Ting-Yi Chen | Matt Granado</p>
          </footer>



    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/stylesheets/jquery.js"></script>
    <script src="stylesheets/bootstrap-transition.js"></script>
    <script src="stylesheets/bootstrap-alert.js"></script>
    <script src="stylesheets/bootstrap-modal.js"></script>
    <script src="/stylesheets/bootstrap-dropdown.js"></script>
    <script src="stylesheets/bootstrap-scrollspy.js"></script>
    <script src="stylesheets/bootstrap-tab.js"></script>
    <script src="stylesheets/bootstrap-tooltip.js"></script>
    <script src="stylesheets/bootstrap-popover.js"></script>
    <script src="stylesheets/bootstrap-button.js"></script>
    <script src="stylesheets/bootstrap-collapse.js"></script>
    <script src="stylesheets/bootstrap-carousel.js"></script>
    <script src="stylesheets/bootstrap-typeahead.js"></script>
	<script src="/stylesheets/lightbox.js"></script>
	<script src="/stylesheets/jquery-1.7.2.min.js"></script>
</html>
